[submodule "interleave"]
	path = interleave
	url = https://gist.github.com/11158519.git
[submodule "merge_sort"]
	path = merge_sort
	url = https://gist.github.com/10779033.git
[submodule "string_matching"]
	path = string_matching
	url = https://gist.github.com/10738507.git
[submodule "sub_sequence"]
	path = sub_sequence
	url = https://gist.github.com/11270873
[submodule "n_coins"]
	path = n_coins
	url = https://gist.github.com/11238283.git
[submodule "knapsack"]
	path = knapsack
	url = https://gist.github.com/11359382
