[submodule "interleave"]
	path = interleave
	url = https://gist.github.com/11158519.git
[submodule "merge_sort"]
	path = merge_sort
	url = https://gist.github.com/10779033.git
[submodule "string_matching"]
	path = string_matching
	url = https://gist.github.com/10738507.git
[submodule "n-coins"]
	path = n-coins
	url = https://gist.github.com/11238283
